/************
 *  Globals *
 ************/

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/********************
 *  Base structure  *
 ********************/

html,
body {
  height: 100%;
	width: 100%;
	background-image: url("../assets/coffee-01.jpeg");
	background-size: 2320px 1520px;
	background-position: -300px -40px;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
	min-width: 64em;
  max-width: 70em;
}


/************
 *  Header  *
 ************/
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 1em;
	font-size: 4em;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  margin-right: 10px;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/**********
 *  Cover *
 **********/
.cover {
  padding: 0 1.5rem;
	margin-right: 20px;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.lead {
	margin-bottom: 40px;
}


/************
 *  Footer  *
 ************/
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
#footer {
	margin-bottom: -2px;
}

/********************
 *  Specific Pages  *
 ********************/

#aboutPage{
  background-image: url("../assets/coffee-02.jpeg");
  background-size: 1920px 1080px;
	background-position: 0px 0px;
}

#aboutDetail {
  margin-top: -20em;
}

#menuPage {
  background-image: url("../assets/coffee-03.jpeg");
  background-size: 100% 130%;
	background-position: 0px 0px;
}

#contactPage {
  background-image: url("../assets/coffee-04.jpeg");
  background-size: 100% 100%;
	background-position: 0px 0px;
}

#contactContainer {
  margin-top: 4em;
}

#contactForm {
  display: block;
}

#contactAlert {
  display: none;
}
